*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
}

header ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

li,a{
  list-style: none;
}

footer{
  text-align: center;
}