*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
  padding: 0.1rem 1rem;
}

a{
  text-decoration: none;
}

header ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

#products{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 2rem 0rem 2rem 3rem;
}


.product{
  width: 22%;
  height: 350px;
  margin: 1.5rem 0.5rem;
  text-align: center;
  border-radius: 10px;
  border: 1px solid black;
}

.product img {
  padding-top: 1rem;
  width: 50%;
  height: 50%;
  margin-bottom: 1rem;
}


.product .title {
  margin-bottom: 1rem;
}
.product .title a {
  color: #000;
}
.product .price {
  margin-bottom: 1rem;
}
.product .addToCart,
.singleProduct .addToCart {
  display: inline-block;
  padding: 10px 20px;
  background-color: bisque;
  color: #000;
  border-radius: 1rem;
  transition: all 300ms;
}

.product .addToCart:hover,
.singleProduct .addToCart:hover {
  background-color: #000;
  color: bisque;
}

.singleProduct {
  display: flex;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.singleProduct .left {
  width: 25%;
}
.singleProduct .left img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.singleProduct .right {
  width: 75%;
}
.singleProduct .right h2,
.singleProduct .right p {
  margin-bottom: 0.5rem;
}
footer {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  color: chocolate;
}
.Icons{
  margin-top: 20px;
}

.addIcon,.subIcon, .DelIcon{
font-size: 1.5rem;
color: black;
margin: 0rem 1rem;
cursor: pointer;
}

.Icons button{
  font-size: 1.5rem;
  padding:0rem 1rem;
}

.Cart{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.cartImage{
  height: 220px;
  width: 220px;
}

.cartImage img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cartItem{
  width: 50%;
}

.cartItem h3,p{
  margin-left: 15px;
  font-size: 20px;
}

